#logo {
    margin: 30px auto;
    width: 320px;
    border-radius: 10px;
    border: 5px solid black;
    position: relative;
    height: 100px;
    font-weight: bold;
}

#logo .hundred {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 190px;
    padding-left: 5px;

    font-size: 80px;
    line-height: 90px;

}

#logo .days {
    position: absolute;
    top: 14px;
    left: 190px;
    font-size: 32px;
    line-height: 1;
}

#logo .hours {
    position: absolute;
    bottom: 14px;
    left: 190px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 3px;
}

body {
    background: #e6e6e6;
}

input.ng-touched.ng-invalid {
    border-color: #ff5d64;
}

.logbuttons{
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dagnr {
    display: inline-block;
    width: 70px;
}

.dato {
    display: inline-block;
    padding: 0px 10px;
}

.button.supertiny {
    width: auto;
    padding: 3px 5px;
    margin: 0;
}

.editingvalue {
    border: 1px solid black;
    width: 40px;
    display: inline-block;
    text-align: center;
}

.logrow {
    border: 1px solid black;
    padding: 20px 30px;
    margin-bottom: 5px;
    display: inline-block;
}

.logrow.today {
    background: #9c9c9c;
}


#graphcontainer {
    margin-bottom: 40px;
    height: 400px;
}